h1 {
  color: red;
  text-align: center;
}

.app {
  width: 968px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}

form {
  margin: 15px auto;
  text-align: center;
}
.input-group {
  margin-bottom: 10px;
}
.input-group label {
  display: block;
}
.input-group input {
  border-radius: 5px;
  padding: 5px;
}

input.search {
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  margin: 10px auto;
}

.cars {
  list-style: none;
  text-align: center;
  padding: 0;
}
.car {
}
