body {
}
h1 {
  color: red;
  text-align: center;
}
h2 {
  color: green;
}

.app {
  width: 968px;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

.cars {
  list-style: none;
  margin: 0;
  padding: 0;
}
.car {
}
